#menu-trigger { // Hide it initially
	display: none;
}

@media all and (min-width: @tablet) and (max-width: @desktop) {

	div.insert {
		display: none;
	}

	//Tag line
	#header .site-title h2.subheader, #header .site-title span.subheader {
		left: 103px;
		top: 52px;
	}

	article {
		&#about {
			background: none;
			background-color: @light-blue;
		}
	}

	// Nav menu
	#menu-wrap {
		position: relative;
	}

	#menu-wrap * {
		//box-sizing: border-box;
	}

	#menu-trigger {
		display: block; /* Show it now */
		float: right;
		height: 40px;
		//margin-right: 20px;
		line-height: 40px;
		cursor: pointer;
		padding: 0 0 0 35px;
		//border-right: 1px solid @separator;
		color: @gray;
		font-weight: 700;
		//background-color: #111;
		/* Multiple backgrounds here, the first is base64 encoded */
		//background: url(data:image/png;base64,iVBOR...) no-repeat 10px center, linear-gradient(#444, #111);
		background: transparent url(images/menu-trigger-icon.png) no-repeat 6px 7px;
		//width: 13.7%;
		//border-radius: 6px;
		//box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu-trigger:hover{
		color: @light-blue;
		//background-position: 6px -43px;
	}

	#menu {
		margin: 0; padding: 10px;
		position: absolute;
		top: 70px;
		right: 31px;
		width: 100%;
		z-index: 100;
		display: none;
		box-shadow: none;
		background: url("images/white-transparent.png") repeat scroll left top transparent;
		border: 1px solid @separator;
	}

	#menu:after {
		content: '';
		position: absolute;
		right: 18px;
		top: -10px;
		width: 22px;
		height: 10px;
		//border-left: 8px solid transparent;
		//border-right: 8px solid transparent;
		//border-bottom: 8px solid @light-gray2;
		background: transparent url(images/menu-tab.png) no-repeat 0 0;
	}

	#menu ul {
		position: static;
		visibility: visible;
		display: block;
		//opacity: 1;
		margin: 0;
		padding-bottom: 10px;
		background: none;
		box-shadow: none;
		border: 0 none;
	}

	#menu ul ul {
		margin: 0px 0 10px 0 !important;
		box-shadow: none;
		padding: 0;
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 0;
		border-top: 1px dotted @separator;
		padding: 0;
		box-shadow: none;
	}

	#menu li:first-child{
		border: none;
	}

	#menu ul li{
		margin: 0 0 0 22px;
		padding: 0 0 0 13px;
		box-shadow: none;
		border: none;
		//background-position: 0 8px;
		background: url("images/separator-breadcrumb.png") no-repeat scroll 0 10px transparent;
		font-family: @arial;
		font-size: 13px;
	}

	#menu ul ul li{
		margin: 0;
	}

	#menu a{
		display: block;
		float: none;
		padding: 5px 0 5px 23px;
		color: @gray;
		background: url("images/bullet-gray.png") no-repeat scroll 10px 13px transparent;
	}

	#menu a:hover, #menu li:hover > a{
		color: @white;
		background: url("images/bullet-white.png") no-repeat scroll 10px 13px @green;
		.rounded(0px);
	}

	#menu ul li:hover > a{
		background: none;
		color: @light-blue;
	}

	#menu ul a{
		padding: 0;
		width: auto;
		background: none;
	}

	#menu ul a:hover{
		background: none;
		color: @light-blue;
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}

	#menu{
		li ul .current_page_item > a,
		li ul .current-menu-parent > a,
		li ul .current-menu-ancestor > a
		{
			background: none;
			color: @light-blue;
		}
		.current_page_item > a,
		.current-menu-parent > a,
		.current_page_parent > a,
		.current-page-ancestor > a,
		.current_page_ancestor > a{
	    //background: black;
	    color: @white;
	    font-weight: 600;
	    background: url("images/bullet-white.png") no-repeat scroll 10px 13px @light-blue;
	    .rounded(0px);
	  }

	  li:hover ul .current_page_item > a,
	  li:hover ul .current-menu-parent > a,
	  li:hover ul .current-menu-ancestor > a{
	    background: none;
	    font-weight: 600;
	    color: @light-blue;
	  }

	  li:hover ul .current_page_item > a:hover,
	  li:hover ul .current-menu-parent > a:hover,
	  li:hover ul .current-menu-ancestor > a:hover{
	    background: @light-gray2;
	    color: @light-blue;
	  }
	}

	//Footer
	#footer{

	//	border: 2px solid magenta;
	
	//	//text-align: center;
	//
	//	.menu{
	//		margin-bottom: 20px;
	//
	//		li{
	//			float: none;
	//			display: inline-block;
	//		}
	//	}
	//
	//	.footer-top{
	//		padding-top: 15px;
	//
	//		.footer-widget{
	//			h2{
	//				width: 65%;
	//				border-bottom: 1px dotted @separator;
	//				padding-bottom: 10px;
	//				margin-bottom: 15px;
	//			}
	//			.grid_6{
	//				width: 35%;
	//			}
	//		}
	//	}
	}
	//
	//#footer-menu, #copyright{
	//	width: 100%;
	//	//float: none;
	//	text-align: center;
	//}


	//BLOG
	#blog-slider{
		.slides_container div.slide{
			height: 307px;
		}
	}

	// CONTENT
	#content{

		.follow-buttons-post{
			margin-bottom: 20px;

			ul{
				li{
					a{
						margin-left: 5px;
					}
				}
			}
		}
	}

	// BODY - Custom classes
	body{
		&.archive, &.blog{
			#blog-content .follow-buttons-post ul li:first-child,
			#blog-content .follow-buttons-post ul li span
			{
				display: none;
			}
		}
	}

	/* -----------------------------------------
	Logos clients home page
	----------------------------------------- */

	#logos-clients {

	  img {
	    opacity: 1;
	    .transition (none);
	    &:hover {
	      opacity: 1;
	    }
	  }
	}

	// ERROR PAGE
	body.error404{
		.post-inside{
			padding-left: 0;
		}
	}

	//CIT building
	.cit-building a{
		top: 10px;
	}

	// BLOG SIDEBAR TABS
	#content .tabberlive.style1 ul.tabbernav {
		border: 0 none;
		li{
			display: block;
			text-align: center;
			 a{
				margin-bottom: 4px;
				border: 1px solid @separator;
			}
		}
	}
}//@media

@media (min-width: @desktop){
	body.error404{
		.post-inside{
			padding-left: 120px;
		}
	}
}//@media desktop

@media (min-width: @large){
	body.error404{
		.post-inside{
			padding-left: 240px;
		}
	}

	#content .tabberlive.style1 ul.tabbernav li a{
		font-size: 14px;
		padding: 8px;
	}
}//@media large

