/*
Theme Name: inQbation/es, for WordPress
Theme URL: http://www.inqbation.com
Author: inQbation
Version: 2.0
*/

html {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: 1.5em;
	height: 100%;
	font-family: Arial, Helvetica, Verdana, Sans-Serif;
}

body {
	background-color: @body-background;
	font-size: 0.95em; //14px
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5em;

	&.new-background {
		background-color: #f4f4f4;
		background-image: none;
	}
}

a {
	text-decoration: none;
	color: @light-blue;

	&:hover {
		color: @dark-green;
		text-decoration: none;
	}
}

/* -----------------------------------------
   Templates
----------------------------------------- */
#full-screen{
  background: red;
}
/* -----------------------------------------
   GUI Elements
----------------------------------------- */
//Icons
.icon{
  background: transparent url(images/elements.png) no-repeat 0 0;
  display: inline-block;
  margin-right: 10px;
}

.twitter-icon,
.facebook-icon,
.linkedin-icon,
.pinterest-icon,
.facebook-like-icon,
.google-plus-icon{
  width: 24px;
  height: 24px;
  text-indent: -999px;
  overflow: hidden;
}

.comments-closed, .comments-link{
  background-position: -400px 0;
  text-indent: -999px;
  overflow: hidden;
  width: 20px;
  height: 18px;
  cursor: pointer;

  &:hover{
    background-position: -400px -50px;
  }
}

.twitter-icon{
  background-position: -350px 0;
  &:hover{
    background-position: 0 0;
  }
}
.facebook-icon{
  background-position: -350px -50px;
  &:hover{
    background-position: 0 -50px;
  }
}
.linkedin-icon{
  background-position: -350px -100px;
  &:hover{
    background-position: 0 -100px;
  }
}
.pinterest-icon{
  background-position: -350px -150px;
  &:hover{
    background-position: 0 -150px;
  }
}
.google-plus-icon{
  background-position: -350px -200px;
  &:hover{
    background-position: 0 -200px;
  }
}

.icon-phone{
  background-position: -100px -50px;
  width: 22px;
  height: 18px;
}

.icon-email{
  background-position: -100px -100px;
  width: 21px;
  height: 16px;
}

.icon-location{
  background-position: -100px 0;
  width: 20px;
  height: 25px;
}

.icon-facebook-like{
  background-position: -99px -147px;
  width: 20px;
  height: 20px;
}
.icon.icon-facebook-like{
  margin-right: 8px;
}
.linked-in-profile{
  border-bottom: 1px solid #DBDBDB;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;

  span{
    float: left;
    margin-right: 5px;
    background-position: 0 -100px;
    &:hover{
      background-position: 0 -100px;
    }
  }
  a{
    float: left;
    //margin-top: 2px;
  }
}
// Character
.project-manager{
  background: transparent url(images/project-manager-cartoon.png) no-repeat 0 0;
  width: 439px;
  height: 571px;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
}

// Ribbons
/*.ribbons{
  background: transparent url(images/ribbons.png) no-repeat 0 0;
  width: 1002px;
  height: 478px;
  position: absolute;
  bottom: 0;
  left: -199px;
  z-index: 5;
}*/

/* Table */

table{
  border: 0 none;
  font-size: 13px;
  width: 100%;
  margin: 0 0 0.5em 0;

  tbody{
    border-left: 4px solid @white;
    border-right: 4px solid @white;
    border-top: 0 none;
    border-bottom: 4px solid @white;
  }

  tbody tr:nth-child(even), tbody tr:nth-child(odd){
    //border-bottom: 1px solid @separator;
    //margin: 0;
    //padding: 0;
    //width: 100%;
    //float: left;
  }

  tr td {
    border-left: 1px solid @separator;
    border-right: 0 none;
    border-top: 0 none;
    border-bottom: 0 none;
    line-height: normal;
    vertical-align: top;
    //word-wrap: break-word;
    padding: 10px;
    //padding: 1% 0;

    &:first-child{
      border-left: 0 none;
    }
  }

  tr:nth-child(odd), tr:nth-child(odd) td{
    background-color: @white;
  }

  tr:nth-child(even), tr:nth-child(even) td{
    background-color: #f7f7f7;
  }

  tr th, thead th {
    //background: url("../images/background-footer-secondary-navigation.gif") repeat-x scroll left bottom @footer-nav-background;
    background: @green;
    color: @white;
    font-weight: bold;
    font-size: 14px;
    border-left: 1px solid @separator;
    border-right: 0 none;
    border-top: 0 none;
    border-bottom: 0 none;
    padding: 9px;
    //padding: 0 1%;
  }
  tr th:first-child, thead th:first-child{
    border-left: 0 none;
  }
}
/* -----------------------------------------
   Header
----------------------------------------- */

.site-title {
	position: relative;
	//height: 80px;

	span {
		display: block;
	}
	h1, span {
		margin: 0px;
		padding: 13px 0;
		font-size: 1em;
		a {
			//height: 75px;
			//width: 240px;
			//display: block;
			//display: inline-block;
			//text-indent: -9999px;
			img {
				width: 240px;
				//display: inline-block;
			}
		}
	}

	h2.subheader, span.subheader {
		margin: 0px;
		padding: 0px;
		position: absolute;
		font-size: 11px;
		letter-spacing: normal;
		font-family: @arial;
		left: 120px;
		color: @medium-gray;
		min-width: 200px;
		line-height: 1.2em;
		top: 58px;
		//left: 103px;
	}
}

#header {
  background-color: @white;
  //height: 80px;
  //.drop-shadow (0px, 0px, 0px, 0);
  //.transition;
	z-index: 100;
	position: relative;

  // border: 3px solid red;

  hgroup{
    height: 80px;
  }

  &:hover {
    //.opacity (1);
    //.drop-shadow;
  }

  .header-container-right{
    padding-top: 27px;
    position: relative;
  }
}

/* language link */
.language-english{
  //float: right;
  //margin-left: 15px;
  //margin-top: 5px;

  a{
    width: 24px;
    height: 24px;
    background-image: url("images/sprite.png");
    background-repeat: no-repeat;
    background-position: -140px -350px;
    text-indent: -9999px;
    margin-left: 1%;
    margin-right: 0px;
    float: right;
    margin-top: 7px;

    &:hover {
      background-position: -210px -350px;
    }
  }
}

#background_texture{
  background: @dark-blue url(images/background-texture.jpg) no-repeat fixed center top;
  height: 55px;
  width: 100%;
  color: @white;
	z-index: 99;
	position: relative;
}

#share-icons-internal{
  color: @white;

  .title-follow{
    float: left;
  }

  ul{
    margin: 15px 0 0 0;
    padding: 0;
    float: right;
    position: relative;

    li{
      display: inline-block;
      line-height: 24px;
      margin-left: 5px;
      vertical-align: top;
    }
  }

  .twitter-icon,
  .facebook-icon,
  .linkedin-icon,
  .pinterest-icon,
  .google-plus-icon,
  .english{
    background: transparent url(images/elements.png) no-repeat 0 0;
    height: 24px;
    margin-left: 1%;
    margin-right: 0;
    text-indent: -9999px;
    width: 24px;
    display: block;
  }

  .twitter-icon{
    background-position: -50px 0;

    &:hover{
      background-position: 0 0;
    }
  }
  .facebook-icon{
    background-position: -50px -50px;

    &:hover{
      background-position: 0 -50px;
    }
  }
  .linkedin-icon{
    background-position: -50px -100px;

    &:hover{
      background-position: 0 -100px;
    }
  }
  .pinterest-icon{
    background-position: -50px -150px;

    &:hover{
      background-position: 0 -150px;
    }
  }
  .google-plus-icon{
    background-position: -50px -200px;

    &:hover{
      background-position: 0 -200px;
    }
  }
  .english{
    background-position: -50px -250px;

    &:hover{
      background-position: 0 -250px;
    }
  }
}

/* -----------------------------------------
   Navigation
----------------------------------------- */
.header_menu{
 float: right;
}
#nav{
  position: relative;
}
#menu, #menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Clear floats
// Here is Nicolas Gallagher‘s clearing method http://nicolasgallagher.com/micro-clearfix-hack/
#menu:before,
#menu:after {
  content: "";
  display: table;
}

#menu:after {
  clear: both;
}

#menu {
  zoom:1;
}

//List elements
#menu li {
  float: left;
  position: relative;
}

#menu a {
  float: left;
  padding: 5px 8px;
  color: @gray;
}

#menu li:hover > a {
  color: @white;
  background: @green;
  .rounded(2px);
}
#menu li:hover li:hover > a{
  .rounded(0px);
}
*html #menu li a:hover { // IE6 only
  color: @light-blue;
}

#menu ul {
  margin: 20px 0 0 0;
  top: 34px;
  left: 0;
  z-index: 100;
  border: 1px solid @separator;
  display: none;
  position: absolute;
}

#menu li:hover > ul {
  margin: 0;
  display: block;
}

#menu ul ul {
  top: -1px;
  left: 100%;
  margin: 0 0 0 20px;
}

#menu ul li {
  float: none;
  display: block;
  border: 0;
  _line-height: 0; //IE6 only
  border-top: 1px solid @separator;
}

#menu ul li:first-child{
  border: none;
}

#menu ul li:last-child{
  //box-shadow: none;
}

#menu ul a {
  background: url("images/white-transparent.png") repeat scroll left top transparent;
  padding: 10px;
  width: 200px;
  display: block;
  float: none;
  text-transform: none;
}

#menu ul a:hover {
  background: @green;
  color: @white;
}


#menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  border: 0 none;
  width: 22px;
  height: 10px;
}

#menu ul ul li:first-child a:after {
  left: -10px;
  top: 39%;
  margin-top: -6px;
  border: 0 none;
  width: 10px;
  height: 22px;
}

#menu ul li:first-child a:hover:after {
  border-bottom-color: @green;
}

#menu ul ul li:first-child a:hover:after {
  border-right-color: @green;
  border-bottom-color: transparent;
}

// Active
#menu{
  .current_page_item > a{
  // .current-menu-parent > a,
  // .current_page_parent > a,
  // .current-page-ancestor > a,
  // .current_page_ancestor > a{
    color: @white;
    font-weight: 600;
    background: @light-blue;
    .rounded(2px);
  }

  .current_page_item:hover > a{
  // .current-menu-parent:hover > a,
  // .current_page_parent:hover > a,
  // .current-page-ancestor:hover > a,
  // .current_page_ancestor:hover > a{
    color: @white;
  }

  li:hover ul .current_page_item > a{
  // li:hover ul .current-menu-parent > a,
  // li:hover ul .current_page_parent > a,
  // li:hover ul .current-page-ancestor > a{
    //background: url("images/white-transparent.png") repeat scroll left top transparent;
    background: @green;
    font-weight: 600;
    color: @white;
    .rounded(0px);
  }

  li:hover ul .current_page_item > a:hover{
  // li:hover ul .current-menu-parent > a:hover,
  // li:hover ul .current_page_parent > a:hover,
  // li:hover ul .current-page-ancestor > a:hover{
    background: @green;
    color: @white;
  }
}

// Sidebar Left Menu
#sidebar-left {
	margin-top: -28px;
	z-index: 99;

	.sidebar-header-left {
		font-family: @custom;
		font-size: 1.643em; //23px
		font-weight: 300;
		border-bottom: 2px solid @separator;
		padding: 25px 10px;
		color: @title-sidebar;
		background: transparent url(images/sidebar-left-title.png) repeat-x left bottom;
	}

	ul {
		margin: 0;
		padding: 0;
		background: @white;

		li {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				background: @menu-first-level url(images/bullet-gray.png) no-repeat 10px 18px;
				display: block;
				color: @sidebar-menu-link;
				//font-family: @arial;
				padding: 10px 10px 10px 23px;
				border-bottom: 1px solid @separator;

				&:hover {
					background: @green url(images/bullet-white.png) no-repeat 10px 18px;
					color: @white;
				}
			}
		}
	}
}

//Current
#sidebar-left ul li.current_page_item a,
#sidebar-left ul li.current_page_parent a,
#sidebar-left ul li.current_page_ancestor a{
  background: @green url(images/bullet-white.png) no-repeat 10px 18px;
  color: @white;
}


// 2nd Level

//Link
#sidebar-left ul li.current_page_item ul li a,
#sidebar-left ul li.current_page_parent ul li a,
#sidebar-left ul li.current_page_ancestor ul li a{
  background: @light-gray2;
  color: @sidebar-menu-link;
  padding: 5px 10px 5px 23px;
  font-size: 0.929em; //13px

  &:hover{
    color: @dark-green;
  }
}

//Current
#sidebar-left ul li.current_page_ancestor ul li.current_page_item a,
#sidebar-left ul li.current_page_ancestor ul li.current_page_parent a{
  font-weight: 600;
  color: @dark-green;
  background: @light-gray2;
}

// 3rd Level

//Link
#sidebar-left ul li.current_page_ancestor ul li.current_page_item ul li a,
#sidebar-left ul li.current_page_ancestor ul li.current_page_ancestor ul li a{
  font-weight: normal;
  background: @white url(images/bullet-green.gif) no-repeat 25px 13px;
  padding-left: 36px;
  color: @sidebar-menu-link;

  &:hover{
    color: @dark-green;
  }
}
//Current
#sidebar-left ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_item a{
  background: @white url(images/bullet-green.gif) no-repeat 25px 13px;
  padding-left: 36px;
  color: @sidebar-menu-link;
  font-weight: 600;
}

// Display options
#sidebar-left ul.menu li.current_page_item ul,
#sidebar-left ul.menu li.current_page_parent ul,
#sidebar-left ul.menu li.current_page_ancestor ul,
#sidebar-left ul.menu li.current_page_ancestor ul li.current_page_parent ul,
#sidebar-left ul.menu li.current_page_parent ul.children li.current_page_item ul{
    display: block;
}
#sidebar-left ul.menu ul.children,
#sidebar-left ul.menu li.current_page_item ul ul,
#sidebar-left ul.menu li.current_page_ancestor ul ul{
    display: none;
}

.custom-left-menu-sidebar {
	z-index: 99;
}
/* -----------------------------------------
   Breadcrumbs
----------------------------------------- */
#breadcrumbs{
  font-size: 0.929em; //13px
  padding: 15px 0px 10px 0px;

  a{
    background: transparent url(images/separator-breadcrumb.png) no-repeat right 10px;
    padding-right: 15px;
    margin-right: 10px;
    float: left;
  }
}

/* -----------------------------------------
   Slider
----------------------------------------- */
#main-slider #slider {
    .slide-info {
      top: auto;
      right: 70px;
      bottom: 0px;
      background-color: @white;
      .opacity;
      h2.title-slide, h2 {
        color: #195e7d;
        letter-spacing: -0.05em;
        font-weight: 400;
        font-size: 2.500em; /* 35px */
        line-height: 1.2em;
        margin-bottom: 5px;
      }//h2.title-slide

      h3.subtitle-slide, h3 {
        color: #88a33a;
        letter-spacing: -0.05em;
        font-weight: 400;
        font-size: 1.786em; /* 25px */
        line-height: 1.2em;
      }//h3.subtitle-slide

      a.view {
        background-color: @light-blue;
        color: @white;
        padding: 7px 10px;

        &:hover {
          background-color: @green;

        }
      }

    }//.content-slide;

}//#slider


/* -----------------------------------------
Logos clients home page
----------------------------------------- */

h3.title-clients {
  font-weight:400;
  color: @gray;
  font-size: 1.857em; //26px
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 12px 0px;
  border-bottom: dotted 1px @separator;


  span {
    color: @green;
    font-weight:700;
  }
}
#logos-clients {
  display: block;
  position: relative;

  .slides li {
    text-align: center;
  }
  img {
    opacity: 0.6;
    .transition;
    &:hover {
      opacity: 1;
    }
  }

  .flex-control-paging li a {
    height: 15px;
    width: 15px;
    background-color: @gray;

    &.flex-active {
      cursor: pointer;
      height: 15px;
      width: 15px;
      background-color: @green;
    }
  }
}

/* -----------------------------------------
Boxes home page
----------------------------------------- */
//.full-width-box {
//  margin-top: 50px;
//  padding-top: 40px;
//  padding-bottom: 10px;
//  width: 100%;
//  background-color: @blue;
//
//  #home-boxs {
//    color: @white;
//
//    #our-philosophy, #from-blog {
//      border-right: solid 1px #195e7d;
//    }
//
//    #from-blog {
//      .date{
//        float: left;
//        width: 45px;
//        height: 70px;
//        margin-right: 7px;
//        padding: 7px;
//        border-right: solid 1px #195e7d;
//        font-size: 1.286em; /*18px*/
//        text-align: center;
//
//        span {
//          font-size: 2.000em; /*28px*/
//          display: block;
//        }
//      }
//      h3 {
//        display: inline;
//      }
//    }
//
//      h2 {
//      font-size: 2.000em; /*28px*/
//      color: @white;
//      padding-top: 70px;
//      text-align: center;
//      font-weight: 400;
//    }
//
//    h3 {
//      a {
//        color: @green;
//        font-weight: 400;
//      }
//    }
//
//    a.link-green {
//      padding: 5px 9px;
//      background-color: @dark-green;
//      color: @white;
//      &:hover {
//        color: @dark-green;
//        background-color: @white;
//      }
//    }
//  }
//}



/* -----------------------------------------
   Content
----------------------------------------- */
#content{

  h1, h2, h3, h4, h5, h6{
    font-weight: 400;
  }

  ul li{
    background: transparent url(images/separator-breadcrumb.png) no-repeat 0 14px;
    padding: 5px 0 5px 10px;
    list-style: none;
  }

  //Follow Icons
  .follow-buttons-post{
    float: left;
    padding-top: 6px;

    ul{
      margin: 0;
      padding: 0;

      li{
        background: none;
        float: left;
        padding: 0;

        a{
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
  }

  .content-blog{
    .post{
      //min-height: 520px;
      //max-height: 520px;
      //margin-right: 20px;
      //padding: 10px 0px 20px;
      //width: 48%;
      //word-wrap: break-word;
      margin-bottom: 20px;

      // &:nth-child(even){
      //   display: inline;
      //   float: right;
      // }

      // &:nth-child(odd){
      //   display: inline;
      //   float: left;
      // }

      .entry-summary{
        margin-bottom: 20px;

        p{
          margin-bottom: 0;
        }
      }

      .follow-buttons-post{
        margin-bottom: 20px;
      }

      .post-listing{
        clear: both;

        a{
          display: block;
          padding: 5px 0 5px 15px;
          background: url("images/separator-breadcrumb.png") no-repeat scroll left 13px transparent;
          border-bottom: 1px dotted @separator;
        }
      }

      .entry-utility span{
        border-right: 1px solid #A0A5A9;
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        padding-right: 10px;
        float: left;
      }

      h3{
        font-size: 1.429em; //20px
      }

      h2{
        border-bottom: 1px dotted @separator;
        font-weight: 600;
        font-size: 1.429em; //20px

        a{
          color: @dark-blue;

          &:hover{
            color: @dark-green;
          }
        }
      }

      .entry-meta, .entry-image, .entry-title, .entry-content, .entry-meta, .entry-image, .entry-title, .entry-content, .read-more{
        margin-bottom: 8px;
      }
    }
  }

  // Single
  &.single{
    .entry-meta{
      margin-bottom: 20px;
    }
    .entry-utility{
      clear: both;
      margin-bottom: 20px;
    }
  }

  /* Paginator */
  .pagination{
    text-align: center;

    li{
      display: inline-block;
      background: none;
      vertical-align: text-top;
      margin: 0;
      padding: 0;

      a, .pagination{
        display: inline-block;
        background: @white;
        padding: 3px 10px;
        text-align: center;
        margin: 0 2px;
        border-bottom: 2px solid @border-pager;

        &:hover{
          border-color: @green;
        }
      }

      .current{
        border-color: @green;

        &:hover{
          border-color: @green;
        }
      }

      .prev, .next{
          background: @white url(images/elements.png) no-repeat;
          border-color: @light-blue;
          color: @white;
          padding: 3px 15px;
          overflow: hidden;
          text-indent: -999px;

          &:hover{
            border-color: @light-blue;
            color: @white;
          }
      }

      .prev{
        background-position: -188px 10px;
      }

      .next{
        background-position: -237px 10px;
      }

      .dots{
        padding: 0;
        background: none;
        border: 0 none;
      }
    }
  }
}

/* -----------------------------------------
   Images
----------------------------------------- */

.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

.wp-caption { max-width: 100%; }

/* -----------------------------------------
   Posts
----------------------------------------- */

.author-box h5 {margin-top:0px;}
.author-box .author_gravatar {margin-right:10px;}
.author-box p {font-size:14px; font-size:1.4rem;}

article .th {margin-bottom:10px; margin-bottom:1rem;}

.alignleft {float:left;}
.alignright {float:right;}

/* -----------------------------------------
   Typography
----------------------------------------- */

body,h1,h2,h3,h4,h5,h6 {font-family: @custom;}

h1,h2,h3,h4,h5,h6 {
  font-weight:300;
  padding: 0;
  margin: 0 0 20px 0;
  letter-spacing: -1px;
}

h1{
  color: @dark-blue;
  font-size: 2.500em; //35px
  letter-spacing: -1px;
}
h2{
  color: @gray;
  font-size: 2.000em; //28px
}
h3{
  color: @dark-green;
  font-size: 1.643em; //23px
}
h4{
  color: @title-sidebar;
  font-size: 1.357em; //19px
}
h5{
  color: @gray;
  font-size: 1.214em; //17px
}
h6{
  color: @dark-green;
  font-size: 1.071em; //15px
}

.site-title .subheader {margin-bottom:0;}

/* -----------------------------------------
   Forms
----------------------------------------- */
// Submit fields
input[type="submit"], button{
  .inline();
  .submit-button();

  &:hover{
    .submit-button-hover();
  }
}

fieldset{
  border-bottom: 1px dotted #67788D;
}

/* Input Fields */
input[type="text"], textarea, input[type="password"], input[type="search"], input[type="email"] {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #e1e1e1;
    padding: 10px;
  //background: @white url(images/input-background.png) no-repeat 0 0;
}

select{
    border: 1px solid @separator;
    padding: 4px;
}

.form-item label{margin-bottom: 5px;}

/* Zoom button */
input#searchsubmit{
    background: url("images/elements.png") no-repeat scroll -140px 6px @button-active;
    padding: 7px 25px;
    color: @white;
    cursor: pointer;
    font-family: @custom;
    font-size: 14px;
    font-weight: 600;
    border: 0 none;
    line-height: normal;
    text-align: center;
    height: 39px;
    vertical-align: top;
    margin-left: -3px;

    &:hover{
      color: @white;
      //background-position: 0 bottom;
      background-color: @button-hover;
    }
}

/* -----------------------------------------
   Pagination
----------------------------------------- */

/* -----------------------------------------
   Aside
----------------------------------------- */
#sidebar-blog-right, #sidebar-blog-left {
  margin-bottom: 20px;
	background-color: @menu-first-level;

  .sidebar-widget{
    background-color: @menu-first-level;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid @separator;
  }

  ul{
    margin: 0;
    padding: 0;

    li{
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      border-top: 1px dotted @separator;

      &:first-child{
        border: 0 none;
      }
    }
  }

  h2{
    font-weight: 600;
    font-size: 1.429em; //20px
    letter-spacing: -1px;
    color: @dark-blue;
    margin-bottom: 10px;
  }

  /* Tag cloud */
  .tagcloud{
    text-align: center;
  }
}

/* Search widget */
.sidebar-widget{

  .search-form, .widget_search{
    position: relative;
  }

  #s{

    width: 100%;
    padding-right: 57px;
    .inner();
  }

  #searchsubmit{
    position: absolute;
    top: 0;
    right: 0;
	text-indent: -999px;
  }
}
label.screen-reader-text{
	display: none;
}
/* -----------------------------------------
   Footer
----------------------------------------- */
#footer{

  // border: 2px solid red;

  #footer-content{
    position: relative;
  }

  // Footer Menu
  .menu{
    margin: 0;
    padding: 0;
    text-align: center;

    li{
      padding:  0;
      margin: 0;
      list-style: none;
      display: inline-block;

      &.current_page_item a{
        background: none repeat scroll 0 0 padding-box #205E7B;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;
        font-weight: 600;

        &:hover{
          color: @white;
        }
      }

      a{
        padding: 5px 10px;
        color: @gray;

        &:hover{
          color: @light-blue;
        }
      }
    }

    ul{
      display: none;
    }
  }
}
.home #footer {
	margin-top: -153px;
}

.footer-map{
  height: 460px;
  background-size: cover;
  background: transparent url(images/inqbation-washington-cd-location-address.png) no-repeat 0 0;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  a {
    position: relative;
    padding: 110px;
    cursor: auto;
    align-self: center; 
    // border: 3px solid yellow;
    // opacity: 0;
  }
}

.footer-top{
  background-color: @white;
  padding-top: 30px;
}

.character {
  background: transparent url(images/character-small.png) no-repeat 0 0;
  //background: transparent url(images/character.png) no-repeat right 0;
  height: 241px;
  position: absolute;
  right: 0px;
  bottom: -59px;
  width: 228px;

  .character-box {
    position: relative;
  }

  .facebook-like{
    position: absolute;
    right: 7px;
    top: 72px;
  }

}
.footer-bottom{
    background: @body-background url(images/footer-background.gif) repeat-x center top;
    padding: 20px 0 50px 0;
    position: relative;
    z-index: 2;
  }
.footer-widget{

  .icon-location{
    display: inline;
    float: left;
  }

  p{
    margin-bottom: 10px;
  }

  h2{
    font-weight: 700;
    color: @dark-blue;
    font-size: 1.714em; //24px
    letter-spacing: -1px;
    padding: 0;
    line-height: normal;
  }
}

#copyright{
  //float: right;
  text-align: center;
  padding-top: 20px;
  color: @copyright;
  font-size: 0.929em; //13px
}

/* -----------------------------------------
   Blog Slider
----------------------------------------- */
 // Post Entry
.entry-meta{
  font-size: 0.929em; //13px
  color: @medium-gray;
}

#blog-slider{

  .entry-meta{
    margin-bottom: 10px;
  }

  h2{
    margin-bottom: 10px;
  }

  .read-more{
    margin-bottom: 10px;
  }

  #slides{

  }

  .slider-image img{
    margin: 0 auto;
    display: block;
  }

  .pagination{
    margin-bottom: 40px;
    padding: 0;

    li{

      &.current a{
        border-bottom-color: @green;
      }
    }
  }

  .entry-summary .entry-content p{
    margin-bottom: 0;
  }

  .slides_container{
    background: @white;
    border-bottom: 2px solid @separator;
    margin-bottom: 10px;
    display:none;
    padding: 20px 0;

    div.slide {
      height:270px;
      display:block;
      background: @white;
    }
    .slides_control {
      width: 100% !important;
      height: auto;
    }
  }
}

.slider-content .entry-utility, #main-content .post .entry-utility, #blog-aside-content .post .entry-utility, #main-category .post-by-category .entry-utility {
	display: inline;
	float: left;

	.comments-link{
		border-right: 1px solid #A0A5A9;
		display: block;
		padding-right: 10px;
		margin-top: 10px;
		margin-right: 10px;
	}
}

// .entry-utility {
// 	clear: both;
// }

.slider-content .follow-buttons-post {
	margin-bottom: 0px;
	margin-top: 0px;
}

#main-category .post-by-category{
	.entry-meta, .entry-image, .entry-title, .entry-content{
		margin-bottom: 8px;
	}
}

#blog-aside-content {
	padding: 20px 0px;
}

.post-by-category {
	padding-bottom: 30px;
	margin-bottom: 36px;
	float: left;
}

// .post-image {
// 	float: left;
// 	width: 315px;
// }

// .post-content {
// 	float: left;
// 	width: 295px;
// }

.widget-container .tagcloud {
	margin-bottom: 20px;
	text-align: center;
}

/* -----------------------------------------
   Contact section
----------------------------------------- */

#background-map {
  height: 486px;
  background: transparent url(images/inQbation-location.png) no-repeat 0 0;
  position: relative;

  .contact-content {
    background-color: @black;
    .opacity();
    position: absolute;
    right: 0px;
    top: 20%;

    .contact-information {
      color: @white;
      padding: 30px 40px;

      p {
        border-top: dotted 1px @medium-gray;
        margin-bottom: 15px;
        padding-top: 15px;
      }
      p:first-child {
        border-top: none 0px;
      }
      strong {
        font-size: 1.500em; /* 21px */
      }
    }
  }
}

/* -----------------------------------------
   Custom Body Classes
----------------------------------------- */
// ERROR PAGE
body.error404{
  background: #fff url(images/error-page-background.jpg) repeat-x left top;

  .logo{
    margin-bottom: 110px;
  }

  .error404{
    position: relative;
  }

  .post{
    height: 572px;
  }

  #content{
    padding-top: 20px;

    h2.error{
      background: transparent url(images/404.png) no-repeat 0 0;
      text-indent: -999px;
      overflow: hidden;
      height: 121px;
      clear: both;
    }

    h3{
      font-weight: 600;
      font-size: 2.857em; //40px
      color: @dark-green;
      margin: 0;
    }

    #searchform{
      margin-bottom: 20px;
    }

    p{
      font-size: 1.214em; //17px
    }
  }

  #header, #background_texture{
    display: none;
  }
}

/* -----------------------------------------
   Content custom styles
   * Only use this group to create custom style inside of the content
----------------------------------------- */
#content {

  //Classic Menu
  .classic-menu{

    ul{
      margin: 0;
      padding: 0;

      li{
        background: none;
        padding: 0;
        display: inline-block;

        &:first-child a{
          border: 0 none;
        }

        a{
          display: inline-block;
          padding: 2px 10px;
          border-left: 1px solid @separator;
        }
      }
    }
  }
}// End of #content

#entry-author-info{
	float: left;
}

// REQUEST A QUOTED
#wpcf7-f12420-p12418-o1{
  .text-field{
    float: left;
    width: 295px;

    input[type="text"]{
      width: 250px;
    }
    > p{
      font-weight: bold;
    }
  }

  .checkboxes{
    .wpcf7-list-item{
      float: left;
      width: 295px;
      padding: 5px 0;
      margin: 0px;

      label{
        display: block;

        input{
          float: left;
          margin-top: 6px;
        }
      }
    }
  }
}

// FACEBOOK
.facebook-like iframe { z-index: 20; }

/* -----------------------------------------
Blog sidebar
----------------------------------------- */
#content{

  .tabberlive.style1{
    background: transparent;
    padding: 0;

    ul.tabbernav {
      margin: 0px 0px 5px 0px !important;
      padding: 0px !important;
      overflow: auto;
      border-bottom: 1px solid @separator;
      width: 100%;
      text-align: center;

      li {
        background: none;
        padding: 0px;
        margin: 0px;
        border: 0 none;
        display: inline-block;

        a{
          display: block;
          background-color: @light-gray;
          font-family: @custom;
          border-left: 1px solid @separator;
          border-right: 1px solid @separator;
          border-top: 1px solid @separator;
          border-bottom: 0 none;
          font-weight: normal;
          font-size: 11px;
          margin: 0 2px;

          &:hover {
            color: @white;
            background: @green;
          }
        }
      }

      li.tabberactive a{
        background-color: @light-blue;
      }
    }
  }

  .tabbertab{
    margin: 0px ;
    padding: 0px;
    border: 0 none;
  }


 /*p{
  clear: both;
 }*/
}

// CIT Buiulding styles
.cit-building{
  //position: relative;

  a{
    background: url(images/cit-building.png) no-repeat 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 197px;
    height: 145px;
    text-indent: -999px;
    overflow: hidden;
  }
}

// GSA Button
.gsa-button{
  display: block;
  width: 130px;
  height: 42px;
  background: @white url(images/gsa-button.png) no-repeat 0 0;
  text-indent: -999px;
  overflow: hidden;
  margin-top: -7px;
  margin-right: 20px;
}

/* CONTACT MODAL WINDOW
 ========================================================================== */
.overlay {
	background: url("images/background-overlay-dc-wordpress-experts.png") repeat scroll 0 0 transparent;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
	display: none;
}
#contact-modal-window {
	background: url("images/modal-window-background-web-project-management.png") no-repeat scroll 0 0 transparent;
	height: 0px;/*522px;*/
	left: 50%;
	margin-left: -475px;
	margin-top: -260px;
	position: absolute;
	/*top: 50%;*/
	top:50%;
	width: 950px;
	z-index: 9999;
	display: none;
}
#contact-modal-window #title-contact {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size: 30px;
	letter-spacing: -1px;
	margin-bottom: 15px;
    color: #255c77;
}
#contact-modal-window .subtitle {
	font-family: 'Shanti', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 15px;
}
#contact-modal-window a {
	color: #255c77;
	text-decoration: none;
}
#contact-modal-window a:hover {
	text-decoration: underline;
}
#contact-modal-window p {
	color: #000000;
	margin-bottom: 15px;
	line-height: 17px;
}
#contact-modal-window .to-left {
	float: left;
	font-size: 12px;
	width: 50%;
	text-align: left;
}
#contact-modal-window .to-left p{
	/*margin-bottom: 0px;*/
	color: #292929;
}
#contact-modal-window .to-right {
	float: right;
	width: 50%;
	text-align: right;
}
#contact-modal-window .to-right #email {
	border-bottom: 1px dashed #dbdbdb;
	color: #255c77;
	font-size: 14px;
	padding-bottom: 6px;
	display: block;
}
#contact-modal-window .to-right #phone {
	display: block;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -1px;
    color: #255c77;
}
#contact-modal-window #title-contact {
	position: absolute;
	right: 50px;
	top: 25px;
	width: 419px;
	opacity: 0;
	/*display:none\9;*/
}
#contact-modal-window #content-contact {
	top: 76px;
	position: absolute;
	right: 50px;/*18px;*/
	width: 419px;
	opacity:0;
	/*display:none\9;*/
}
#contact-modal-window #google-map {
	bottom: 40px;
	position: absolute;
	right: 50px;/*18px;*/
	border: 1px solid #bbbbbb;
	opacity:0;
	/*display:none\9;*/
    background: url("images/inqbation-location-google-map-washington-dc-web-developers.jpg") no-repeat left top;
    width: 421px;
    height: 207px;
}
#contact-modal-window .contact-background {
	bottom: 28px;
	left: 4px;
	position: absolute;
	opacity: 0;
	/*display:none\9;*/
    width: 594px;
    height: 457px;
    background: url("images/cit-bulding-background-dc-wordpress-expert.png") no-repeat left top;
}
.relative {
	position: relative;
}
#contact-modal-window .relative {
	height: 522px;
}
#contact-modal-window .close-button {
	background: transparent url("images/inqbation-labs-close-icon.png") no-repeat scroll right top;
	height: 19px;
	position: absolute;
	right: 0;
	top: -33px;
  	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	width: auto;
    padding-right: 25px;
    color: #fff;
    text-transform: uppercase;
}
#contact-modal-window .close-button:hover {
	cursor: pointer;
    text-decoration: none;
}
/* contact button */
#contact-button .press {
	background-image: url("images/contac-us-button-washington-dc-wordpress-expert.png");
	background-repeat: no-repeat;
	float: left;
	height: 83px;
	overflow: hidden;
	text-indent: -999px;
	width: 137px;
}
#contact-button .active:hover {
	cursor: pointer;
}
#contact-button .active {
	background-position: 0 0;
}
#contact-button .press {
	background-position: 0 61px;
}
#contact-button .inner{
	margin-left: 10px;
	background-image: url("images/contac-us-button-washington-dc-wordpress-expert.png");
	background-repeat: no-repeat;
	float: left;
	height: 83px;
	overflow: hidden;
	text-indent: -999px;
	width: 137px;
	margin-top: 7px;
}
.invisible-footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

/* Navigation client page */
#header-image:hover a{
  opacity:1;
  top:40%;
}
#header-image .alignleft a{
  left:0px;
  background-position:0 -50px;
}
#header-image .alignright a{
  right:0;
}
#header-image a{
  position:absolute;
  display:block;
  overflow:hidden;
  width:50px;
  height:50px;
  background-color:#003b53;
  background-image:url("images/arrows.png");
  background-position:0 0;
  background-repeat:no-repeat;
  text-indent:-9999px;
  z-index:60;
  top:45%;
  -webkit-transition:all .25s linear;-moz-transition:all .25s linear;
  -o-transition:all .25s linear;-ms-transition:all .25s linear;
  transition:all .25s linear;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  opacity:0.2;

  &:hover{
    background-color:#88a33a;
  }
}

/** Jan 2017 **/
.display-block{
	display: block!important;
}
.display-hidden{
	display: none!important;
}
//.text-center{
//	text-align: center!important;
//}
//.text-left{
//	text-align: left!important;
//}
//.text-right{
//	text-align: right!important;
//}

/* Custom classes */
.submenu {
	width: 96%;
	background-color: #fff;
	position: relative;
	padding: 10px 2%;

	h1 {
		font-size: 20px;
		margin: 0;

		i {
			padding: 6px 0 3px 0;
		}
	}
	&:hover {
		cursor: pointer;

		> h1 {
			color: #88a33a;
		}
		> i {
			color: #88a33a;
		}
	}
}
.submenu-links {
	width: 100%;
	display: none;
	height: 0;
	overflow: hidden;
	border-top: 1px solid #003b53;
	border-bottom: 1px solid #003b53;
	margin: 10px 0;
	padding: 5px 0;

	.sidebar-header-left {
	}
	ul {
		margin-left: 0 !important;
		margin-bottom: 0 !important;
	}
	li {
		padding: 3px 0 3px 8px !important;
	}
}

#pre-header {
	background: #F2F3F7;
	//font-size: 14px;
	padding: 3px 15px;
	//font-weight: 400;

	img {
		min-height: 21px;
		//float: left;
		padding-top: 3px;
		padding-bottom: 2px;
		margin: 0 5px;
	}
}

.page-heading {
	background-image: url(images/inqbation-home.jpg);
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: -173px; // this must be calculated from header and #background_texture
	z-index: 1;

	.banner {
		width: 740px;
		padding: 30px 45px;
		text-align: center;
		left: 50%;
		margin-left: -370px;
		top: 50%;
		margin-top: -135px;
		background-color: rgba(42, 85, 132, .9);
		border-top: 5px solid #00b5f7;
		border-bottom: 5px solid #fcc030;
		position: absolute;
		color: #fff;
		font-size: 2.1rem;
		font-weight: 300;

		.home-banner-title {
			margin: 10px 0;
			font-size: 2.1rem;
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: 1px;
			color: rgba(255, 255, 255, 1);
			line-height: 1.2;
		}

		.home-banner-tagline {
			font-family: Roboto, Helvetica, Arial, sans-serif;
			display: block;
			margin-top: 10px;
			font-weight: 300;
			font-size: .66em;
			text-transform: none;
			line-height: 1.5em;
		}
	}
}

#clients-logos {
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: #f4f4f4;

	.clients-list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			max-width: 20%;
			min-width: 87px;
			float: left;
			display: block;
			text-align: center;
		}
	}

	img {
		opacity: 0.6;
		-webkit-transition: none 0.2s linear;
		-moz-transition: none 0.2s linear;
		-o-transition: none 0.2s linear;
		-ms-transition: none 0.2s linear;
		transition: none 0.2s linear;

		&:hover {
			opacity: 1;
			-webkit-transition: none 0.2s linear;
			-moz-transition: none 0.2s linear;
			-o-transition: none 0.2s linear;
			-ms-transition: none 0.2s linear;
			transition: none 0.2s linear;
		}
	}
}

