@media only screen and (max-width: @mobile) {

	.content-inside {
		margin: 0 2%;
	}

	#pre-header {
		text-align: center;
		.text-right {
			text-align: center;
		}
	}

	//Language Icon
	.language-english {
		position: absolute;
		top: 0;
		right: 10px;
	}

	//Share icons
	#share-icons-internal ul {
		float: none;
		text-align: center;
	}

	#header {
		//height: 120px;
		.site-title {
			text-align: center;

			h2.subheader,
			span.subheader {
				left: 47%;
				top: 55px;
				text-align: left;
			}
		}

		.header-container-right {
			padding: 0;
		}
	}

	.page-heading {
		top: -230px;

		.banner {
			width: 90%;
			height: auto;
			padding: 10px 25px;
			left: 5%;
			margin-left: 0;
			margin-top: 0;

			.home-banner-title {
				font-size: 5.2vw;
			}
		}
	}

	#media-icons {
		display: inline-block;
		float: right;
		ul.media-icons {
			margin-top: 10px;
		}
	}

	#slider {
		.slider-main {
			.content-slide {
				width: 70%;
				float: left;
				position: relative;
				bottom: 0px;
				padding-right: 120px;
				min-height: 170px;
				margin: 0px;
			}
			a.callbacks_nav {
				width: 50px;
				height: 50px;
				&.prev {
					right: 0px;
					bottom: 120px;
					background-position: -9px -82px;
				}
				&.next {
					right: 0px;
					bottom: 170px;
					background-position: -9px -9px;

				}
			}
		}
	}

	#clients-logos {
		top: 100%;
		bottom: auto;
		position: relative;

		.clients-list li {
			max-width: 100%;
			width: 100%;
			display: block;
			padding-bottom: 10px;
		}

	}

	article {
		&.content {
			padding-top: 110px;
			height: auto;
		}
		&#about {
			background: none;
			background-color: @light-blue;
			.inqbation-team {
				position: static;
			}
			//.inqbation-team
			.content-info {
				padding: 20px 10px 0px 20px;
			}
			//content-info
		}
		&#contact {
			.content-info {
				margin-top: 45px;
			}
		}
	}

	div.insert {
		display: none;
	}

	.contact-box {
		width: 100%;
	}

	#go-home {
		display: none;
	}

	// Nav menu
	#menu-wrap * {
		box-sizing: border-box;
	}

	#menu-trigger {
		display: block; /* Show it now */
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		padding: 0 0 0 35px;
		//border: 1px solid #222;
		color: @gray;
		font-weight: 700;
		//background-color: #111;
		/* Multiple backgrounds here, the first is base64 encoded */
		//background: url(data:image/png;base64,iVBOR...) no-repeat 10px center, linear-gradient(#444, #111);
		background: transparent url(images/menu-trigger-icon.png) no-repeat 6px 7px;
		//border-radius: 6px;
		//box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu-trigger:hover {
		color: @light-blue;
	}

	#menu {
		margin: 0;
		padding: 10px;
		position: absolute;
		top: 40px;
		left: 0;
		.inner();
		width: 100%;
		z-index: 100;
		display: none;
		box-shadow: none;
		background: url("images/white-transparent.png") repeat scroll left top transparent;
		border: 1px solid @separator;
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 43px;
		top: -10px;
		width: 22px;
		height: 10px;
		//border-left: 8px solid transparent;
		//border-right: 8px solid transparent;
		//border-bottom: 8px solid @light-gray2;
		background: transparent url(images/menu-tab.png) no-repeat 0 0;
	}

	#menu ul {
		position: static;
		visibility: visible;
		display: block;
		//opacity: 1;
		margin: 0;
		padding-bottom: 10px;
		background: none;
		box-shadow: none;
		border: 0 none;
	}

	#menu ul ul {
		margin: 0px 0 10px 0 !important;
		box-shadow: none;
		padding: 0;
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 0;
		border-top: 1px dotted @separator;
		padding: 0;
		box-shadow: none;
	}

	#menu li:first-child {
		border: none;
	}

	#menu ul li {
		margin: 0 0 0 22px;
		padding: 0 0 0 13px;
		box-shadow: none;
		border: none;
		//background-position: 0 8px;
		background: url("images/separator-breadcrumb.png") no-repeat scroll 0 10px transparent;
		font-family: @arial;
		font-size: 13px;
	}

	#menu ul ul li {
		margin: 0;
	}

	#menu a {
		display: block;
		float: none;
		padding: 5px 0 5px 23px;
		color: @gray;
		background: url("images/bullet-gray.png") no-repeat scroll 10px 13px transparent;
	}

	#menu a:hover, #menu li:hover > a {
		color: @white;
		background: url("images/bullet-white.png") no-repeat scroll 10px 13px @green;
		.rounded(0px);
	}

	#menu ul li:hover > a {
		background: none;
		color: @light-blue;
	}

	#menu ul a {
		padding: 0;
		width: auto;
		background: none;
	}

	#menu ul a:hover {
		background: none;
		color: @light-blue;
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}

	#menu {
		li ul .current_page_item > a,
		li ul .current-menu-parent > a,
		li ul .current-menu-ancestor > a {
			background: none;
			color: @light-blue;
		}

		.current_page_item > a,
		.current-menu-parent > a,
		.current_page_parent > a,
		.current-page-ancestor > a,
		.current_page_ancestor > a {
			//background: black;
			color: @white;
			font-weight: 600;
			background: url("images/bullet-white.png") no-repeat scroll 10px 13px @light-blue;
			.rounded(0px);
		}

		li:hover ul .current_page_item > a,
		li:hover ul .current-menu-parent > a,
		li:hover ul .current-menu-ancestor > a {
			background: @light-gray2;
			font-weight: 600;
			color: @light-blue;
		}

		li:hover ul .current_page_item > a:hover,
		li:hover ul .current-menu-parent > a:hover,
		li:hover ul .current-menu-ancestor > a:hover {
			background: @light-gray2;
			color: @light-blue;
		}
	}

	//Footer
	#footer {
		padding: 0;
		
		// border: 2px solid blue;
		margin-top: 510px;

		h2 {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px dotted @separator;
		}
		.footer-top {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 18px;
		}

		#copyright {
			float: none;
			text-align: center;
		}

		.character {
			right: 0;
			bottom: -58px;
		}
	}

	.home #footer {
	 
		margin-top: 510px;
		position: relative;
	}

	aside {
		&.custom-left-menu-sidebar {
			display: none;
		}
	}

	//BLOG
	#blog-slider {
		.slides_container {

			.slider-image {
				margin-bottom: 10px;
			}

			div.slide {
				height: 540px;
				width: 90%;
				padding: 0 5%;
			}
		}
		.slider-content .innera {
			padding: 10px;
		}
	}


	// CONTENT
	#content {

		.follow-buttons-post {
			ul {
				li {
					a {
						margin-left: 5px;
					}
				}
			}
		}

		#blog-content {
			.follow-buttons-post {
				ul {
					li {

						&:first-child {
							display: none;
						}
					}
				}
			}
		}
	}

	/* -----------------------------------------
	Logos clients home page
	----------------------------------------- */
	h3.title-clients {
		text-align: center;
	}

	#logos-clients {

		img {
			opacity: 1;
			.transition (none);
			&:hover {
				opacity: 1;
			}
		}
	}

	/* -----------------------------------------
	   Contact section
	----------------------------------------- */
	#background-map {
		height: 700px;
		background: transparent url(images/inQbation-location.png) no-repeat -120px bottom;

		.contact-content {
			position: static;
			top: 0px;
		}
	}

	// ERROR PAGE
	body.error404 {
		.project-manager {
			display: none;
		}

		.classic-menu {
			text-align: center;
		}

		.logo {
			margin-bottom: 10px;

			.site-title {
				width: 240px;
				margin: 0 auto;
			}
		}

		.post {
			text-align: center;
		}

		#content h2.error {
			background-position: center top;
		}
	}

}

//@media mobile

/* custom size for the footer */
@media only screen and (max-width: 490px) {

	#footer {

		h2 {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px dotted @separator;
			width: 100%;
			//text-align: center;
		}

		.character {
			right: 0;
			bottom: -252px;
		}
	}

	//BLOG
	#blog-slider {
		.slides_container {
			div.slide {
				height: 600px;
				//width: 90%;
				//padding: 0 5%;
			}
		}
	}

	// CONTENT
	#content {

		.follow-buttons-post {
			ul {
				li {

					a {
						margin-left: 5px;
					}
				}
			}
		}
	}

	// BODY - Custom classes
	body {
		&.archive {
			.follow-buttons-post ul li:first-child {
				display: none;
			}
		}
	}
}

// @media 490px

@media only screen and (max-width: 320px) {
	.site-title h2.subheader,
	.site-title span.subheader {
		display: none;
	}
}

//@media 320px
