// Firefox Hack
@-moz-document url-prefix() {
/* add styles only for firefox here... */

}


// Safari/Chrome Hack
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* add styles only for Safari/Chrome here... */
	input#searchsubmit{
		height: 38px;
	}
}

// IE9
html.ie9{
/* add styles only for IE 9 here... */ 
	input#searchsubmit{
		height: 38px;
	}	
}

// IE 8
html.lt-ie9{

}

// All IE versions Hack
html.all-ie{
/* add styles for all IE versions here... */     

}

// Only Mac - Safari
html.mac{
/* add styles only for MAC Safari here... */  

}