//Rounded corners
.rounded (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box; 
}

//Transition
.transition (@prop: all, @time: 0.2s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease; 
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
} 

//Dropshadow
.drop-shadow(@x-axis: 0, @y-axis: 4px, @blur: 5px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

//Cover
.cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
//Opacity
.opacity(@opacity: 0.9) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.submit-button(@padding-tb: 7px, @padding-lr: 25px, @font-size: 14px){
    background: url("../images/buttons.gif") repeat-x scroll 0 0 @button-active;
    padding: @padding-tb @padding-lr;
    color: @white;
    cursor: pointer;
    font-family: @custom;
    font-size: @font-size; //13px
    font-weight: 600;
    border: 0 none;
    line-height: normal;
    text-align: center; 
    .transition();
}
.submit-button-hover(){
    color: @white;
    background-position: 0 bottom;   
    background-color: @button-hover;
    .transition();
}
.inner(){
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
}