@black: #111;
@white: #fff;
@green: #88a33a;
@blue: #15506a;
@dark-green: #5c7908;
@light-blue: #205e7b;
@dark-blue: #003b53;
@gray: #333;
@medium-gray: #666666;
@light-gray: #f2f2f2;
@light-gray2: #f9f9f9;
@link-nav: #111111;
@separator: #cecece;
@title-sidebar: #7c7c7c;
@menu-second-level: #eeeeee;
@menu-first-level: #fefefe;
@sidebar-menu-link: #555555;
@body-background: #f4f4f4;
@copyright: #848484;

@button-active: #205e7b;
@button-hover: #5c7908;
@border-pager: #dcdddf;
// Fonts ------------------------------------------------------------------------------------------
@custom: "Open Sans", "Helvetica", Arial, sans-serif;
@arial: Arial, Helvetica, Verdana, Sans-Serif;


// Old definitions
@mobile: 767px;
@tablet: 768px;
@desktop: 991px;
@large: 1200px;
