// Wordpress base styles
// Version 1.0
// Created by inQbation

#comments-list {
    ul {
        #respond {
            margin: 0;
        }
    }
    #respond {
        margin: 0 0 18px 0;
    }
}
#content {
    .wp-caption {
        background: #f1f1f1;
        line-height: 18px;
        margin-bottom: 20px;
        padding: 4px;
        text-align: center;
        p.wp-caption-text {
            color: #888;
            font-size: 12px;
            margin: 5px;
        }
        img {
            margin: 5px 5px 0;
        }
    }
    .wp-smiley {
        margin: 0;
    }
    .attachment {
        img {
            max-width: 900px;
            display: block;
            margin: 0 auto;
        }
    }
    .gallery {
        margin: 0 auto 18px;
        img {
            border: 2px solid #cfcfcf;
            border: 10px solid #f1f1f1;
        }
        br+br {
            display: none;
        }
        .gallery-item {
            float: left;
            margin-top: 0;
            text-align: center;
            width: 33%;
        }
        dl {
            margin: 0;
        }
        .gallery-caption {
            color: #888;
            font-size: 12px;
            margin: 0 0 12px;
        }
    }
    ol {
        margin-left: 20px;
        li {
            list-style-type: decimal;
            margin-bottom: 5px;
        }
    }
}
input[type=submit] {
    color: #333;
}
.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}
.children {
    #respond {
        margin: 0 48px 0 0;
    }
}
.comment-meta a:active,.comment-meta a:hover {
    text-decoration: underline;
}
.navigation a:active,.navigation a:hover {
    color: #ff4b33;
}
.navigation a:link,.navigation a:visited {
    color: #888;
    text-decoration: none;
}
.reply a:hover,a.comment-edit-link:hover {
    text-decoration: underline;
}
h3#comments-title {
    padding: 24px 0;
}
#comments {
    clear: both;
    .pingback {
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 18px;
        padding-bottom: 18px;
        .url {
            font-size: 13px;
            font-style: italic;
        }
        p {
            color: #888;
            display: block;
            font-size: 12px;
            line-height: 18px;
            margin: 0;
        }
    }
    .navigation {
        padding: 0 0 18px 0;
    }
    .comment-body {
        blockquote {
            p:last-child {
                margin-bottom: 24px;
            }
        }
        p:last-child {
            margin-bottom: 6px;
        }
    }
}
#content ul, #content-home ul, #sidebar li {
    margin-left: 20px;
    margin-bottom: 5px;
}
.nav-previous {
    float: left;
    width: 50%;
}
.navigation {
    color: #888;
    font-size: 12px;
    line-height: 18px;
}
.widget_tag_cloud {
    .tagcloud {
        margin-bottom: 20px;
    }
}
.form-allowed-tags {
    line-height: 1em;
}
#respond {
    border-top: 1px solid #e7e7e7;
    margin: 24px 0;
    overflow: hidden;
    position: relative;
    label {
        color: #888;
        font-size: 12px;
    }
    .required {
        color: #ff4b33;
        font-weight: bold;
    }
    .form-allowed-tags {
        color: #888;
        font-size: 12px;
        line-height: 18px;
        code {
            font-size: 11px;
        }
    }
    p {
        margin: 0;
    }
    textarea {
        width: 98%;
    }
    .comment-notes {
        margin-bottom: 1em;
    }
    .form-submit {
        margin: 12px 0;
        input {
            font-size: 14px;
            width: auto;
        }
    }
    input {
        margin: 0 0 9px;
        width: 98%;
    }
}
#nav-above {
    margin: 0 0 18px 0;
    display: none;
}
.comment-meta a:link,.comment-meta a:visited {
    color: #888;
    text-decoration: none;
}
img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 12px;
}
#content img.alignleft,#content img.alignright,#content img.aligncenter {
    margin-bottom: 12px;
}
.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
h3#reply-title {
    margin: 18px 0;
}
#content .aligncenter,#content img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#content .alignleft,#content img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
.hentry {
    margin-bottom: 20px;
}
.reply a,a.comment-edit-link {
    color: #888;
}
.commentlist {
    list-style: none;
    margin: 0;
    .children {
        list-style: none;
        margin: 0;
        li {
            border: none;
            margin: 0;
        }
    }
    li.comment {
        border-bottom: 1px solid #e7e7e7;
        line-height: 24px;
        margin: 0 0 24px 0;
        padding: 0 0 0 56px;
        position: relative;
    }
    li.comment+li.pingback {
        margin-top: -6px;
    }
    li:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    .avatar {
        position: absolute;
        top: 4px;
        left: 0;
    }
    ol {
        list-style: decimal;
    }
}
.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
.comment-author {
    cite {
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    .says {
        font-style: italic;
    }
}
#comments .comment-body ul,#comments .comment-body ol {
    margin-bottom: 18px;
}
h3#comments-title,h3#reply-title {
    color: #000;
    font-size: 20px;
    margin-bottom: 0;
}
.paged #nav-above,.single #nav-above {
    display: block;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
#content .alignright,#content img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.nopassword,.nocomments {
    display: none;
}
.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}
