@import "less/3L-maxi";
@import "less/media/grid-helpers";
@import "less/media/grid-mobile";
@import "less/media/grid-fixed"; 

//VARIABLES
@gap: 5px;
@columns: 24;

@mobile: 720px;
@tablet: 720px;
@desktop: 960px;
@large: 1200px;


//MOBILE
@media only screen and (max-width: @mobile) {
  .mobile-grid(@mobile, @gap);
}

//TABLET
@media only screen and (min-width: @tablet) and (max-width: @desktop) {
  .fixed-grid(@tablet, @gap, @columns);
}

//DESKTOP
@media only screen and (min-width: @desktop) and (max-width: @large) {
  .fixed-grid(@desktop, @gap, @columns);
}

//LARGE
@media only screen and (min-width : @large) {
  .fixed-grid(@large, @gap, @columns);
}
